/* **********     Reset CSS     ********** */
:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

img,
video {
    max-width: 100%;
    height: auto;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}  

header {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
    
}

.hamburger {
    position: fixed;
    right: 10px;
    bottom: 20px;
    padding: 12px;
    z-index: 9999;
    background-color: var(--main-color);
    border-radius: 50%;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--second-modal-color);
    opacity: 0;
    z-index: 9998;
}

.nav.active {
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
        
    }
    100% {
        opacity: 0;
        transform: translate(-100%);
    }
}

.nav.inactive {
    animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        transform: translate(-100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.nav a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--main-color);
}

.nav a:hover{
    background-color: var(--main-color);
    color: var(--second-color);
}

.container-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.clock {
    display: flex;
    justify-content: center;
}

.panel {
    width: 100vw;
    height: 500px;
    position: relative;
    overflow: hidden;
    background-color: beige;
    padding: 10px;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    left: 0; /* Posición inicial */
    right: 0;
    top: 20px;
    transition: left 0.1s linear;
}


